*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    background-color:#111;
}

section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

section .text
{
    position: relative;
    color: white;
    margin: 40px;
    max-width: 800px;
    font-size: 1.5em;
    user-select: none;
}

section .text span
{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

section .text span.active
{
    animation: smoke 2s linear forwards;
    transform-origin: bottom;
}

@keyframes smoke
{
    0%
    {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1);
    }
    50%
    {
        opacity: 1;
        pointer-events: none;
    }
    100%
    {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(8);
    }
}